<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Free Contact Form :: W3layouts</title>
  <link rel="stylesheet" href="/static/complaint/css/style.css">
</head>

<body>
  <!-- simple-contact-form2 -->
  <section class="w3l-simple-contact-form2">
    <div class="section-gap">
      <div class="wrapper">
        <div class="form-inner-cont">
          <form id="form1" name="form1" method="post" action="/myapp/pub_complaint_sent_post/" class="signin-form">
               {% csrf_token %}
            <h3>We Are Here to Help </h3>
{#            <div class="form-input">#}
{#              <label for="w3lName">Name</label>#}
{#              <input type="text" name="w3lName" id="w3lName" placeholder="Enter your name" required="" />#}
{#            </div>#}
{#            <div class="form-input">#}
{#              <label for="w3lSender">Email</label>#}
{#              <input type="email" name="w3lSender" id="w3lSender" placeholder="Enter your email" required />#}
{#            </div>#}
            <div class="form-input">
              <label>E-Mail</label>
              <input type="email" name="textfield" id="textfield" placeholder="Enter Your email" required />
            </div>
            <div class="form-input">
              <label for="w3lMessage">Complaint</label>
              <textarea name="textarea" id="textarea" placeholder="Type your Complaint here" required=""></textarea>
            </div>
            <button class="btn">Sent</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- /simple-contact-form2 -->
</body>

</html>