<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <a href="/myapp/view_profile_reader">view_profile_reader</a><br>
    <a href="/myapp/view_assigned_area">view_assigned_area</a><br>
{#    <a href="/myapp/search_customer_usage_entry">search_customer_usage_entry</a><br>#}
{#    <a href="/myapp/Usage_entry">Usage_entry</a><br>#}
    <a href="/myapp/view_notification_meter">view_notification</a><br>
    <a href="/myapp/view_previous_meter_readings">view_previous_meter_readings</a><br>
    <a href="/myapp/view_user_upload_readings">view_user_upload_readings</a><br>
    <a href="/myapp/Change_pass_meter">Change_pass_meter</a><br>
    

</form>
</body>
</html>