{% extends 'ADMIN/admin_home_index.html'%}
{% block body %}

<body>
<form action="/myapp/Add_meter_reader_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
  <table class="table table-bordered table-hover ">
    <tr>
      <td width="140">Name </td>
      <td width="">
      <input type="text" name="textfield" id="textfield" class="form-control" pattern="[A-Z a-z]+"required/></td>
    </tr>
    <tr>
      <td>Gender</td>
        <td><select name="RadioGroup1" class="form-control" required>
            <option>--choose Gender --</option>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>

        </select> </td>
{#      <td><p>#}
{#        <label>#}
{#          <input type="radio" name="RadioGroup1" value="male" id="RadioGroup1_0" checked/>#}
{#          Male</label>#}
{#        <br />#}
{#        <label>#}
{#          <input type="radio" name="RadioGroup1" value="female" id="RadioGroup1_1" />#}
{#          Female</label>#}
{#        <br />#}
{#        <label>#}
{#          <input type="radio" name="RadioGroup1" value="others" id="RadioGroup1_2" />#}
{#          Others</label>#}
{#        <br />#}
{#      </p></td>#}
    </tr>
    <tr>
      <td>DOB</td>
      <td><input type="date" min="1900-01-01" max="2015-12-31" name="textfield5" id="textfield5" class="form-control" required/></td>
    </tr>
    <tr>
      <td>Place</td>
      <td>
      <input type="text" name="textfield4" id="textfield4" class="form-control" required/></td>
    </tr>
    <tr>
      <td>District</td>
      <td>
      <input type="text" name="textfield2" id="textfield2" class="form-control" pattern="[A-Za-z ]+" required/></td>
    </tr>
    <tr>
      <td>Pincode</td>
      <td>
      <input type="text" name="textfield3" id="textfield3" class="form-control" pattern="[0-9]{6}" max="6" required/></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td>

      <input type="file" name="fileField" id="fileField2" class="form-control" required/></td>
    </tr>
    <tr>
      <td>Email</td>
      <td>
      <input type="email" name="textfield7" id="textfield7" class="form-control" required/></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>
      <input type="text" name="textfield8" id="textfield8" class="form-control" pattern="[6789][0-9]{9}"max="10" required/></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" name="button" id="button" value="ADD"  class="btn btn-success"  /></td>
    </tr>
  </table> 
</form>
</body>
{% endblock %}