{% extends 'ADMIN/admin_home_index.html'%}
{% block body %}
<form>
{#    <a href="/myapp/view_new_conn_report">view_new_conn_report</a><br><br>#}

    <a href="/myapp/Add_meter_reader">Add_meter_reader</a><br>
    <a href="/myapp/View_meter_reader">View_meter_reader</a><br><br>


    <a href="/myapp/district_add">District Manage</a><br>
    <a href="/myapp/View_District">view district</a><br>
    <a href="/myapp/Add_area">Add area</a><br>
    <a href="/myapp/View_area">View_area</a><br><br>

    <a href="/myapp/Notification_send">Notification_send</a><br>
    <a href="/myapp/view_notification">view_notification</a><br><br>

    <a href="/myapp/Admin_add_Charge">Admin_add_Charge</a><br>
    <a href="/myapp/admin_view_charge">admin_view_charge</a><br><br>

    <a href="/myapp/admin_view_connection">View New Connection</a><br>
    <a href="/myapp/admin_view_approved_connection">Approved Connections</a><br>
    <a href="/myapp/admin_view_rejected_connections">Rejected Connections</a><br><br>
    <a href="/myapp/admin_view_deactive_connection">Deactive Connections</a><br><br>



    <a href="/myapp/Assign_meter_reader_get">Assign_meter_reader</a><br>
    <a href="/myapp/View_assigned_mtr_reader">View_assigned_mtr_reader</a><br>

    <a href="/myapp/view_due_report">view_due_report</a><br>

    <a href="/myapp/view_complaint">view_complaint</a><br>
    <a href="/myapp/view_public_complaint">View_Public_Complaint</a><br>


    <a href="/myapp/Change_password_admin">Change_password_admin</a><br>







    

</form>
</body>
</html>