{% extends 'ADMIN/admin_home_index.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/myapp/Assign_meter_reader_post/">
 {% csrf_token %}
  <table width="416" height="152" border="1" class="table table-bordered table-hover" class="form-control">
    <tr>
      <td width="171">Meter Reader :</td>
      <td width="229">
        <select name="select" id="select" class="form-control" required>
            {% for i in data %}
                <option value="{{ i.id }}">{{ i.Name }}</option>
            {% endfor %}
      </select></td>
    </tr>
{#    <tr>#}
{#      <td>District :</td>#}
{#      <td><label for="textfield3">#}
{#        <select name="select2" id="select2">#}
{#            {% for i in data3 %}#}
{#                <option value="{{ i.id }}">{{ i.Dis_name }}</option>#}
{#            {% endfor %}#}
{#        </select>#}
{#      </label></td>#}
{#    </tr>#}
        <tr>
      <td>Place :</td>
      <td>
              <select name="select3" id="select3" class="form-control" required>
            {% for i in data2 %}
                <option value="{{ i.id }}">{{ i.Place }}</option>
            {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" name="button" id="button" value="Submit" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}

{#<form method="post" action="/myapp/search_courses/">#}
{#{% csrf_token %}#}
{#  <label for="District">Select a District:</label>#}
{#    <select id="District" name="dis">#}
{#        <option value="">Select a District</option>#}
{#        {% for District in dis %}#}
{#            <option value="{{ District.id }}">{{ Area.District }}</option>#}
{#        {% endfor %}#}
{#    </select>#}
{##}
{#    <label for="Place">Select a Place:</label>#}
{#    <select id="Place" name="pls">#}
{#        <option value="">Select a Place</option>#}
{#    </select>#}
{#<input type="submit" value="btn">#}
{#</form>#}
