{% extends 'ADMIN/admin_home_index.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/myapp/edit_meter_reader_post/"enctype="multipart/form-data">
 {% csrf_token %}
  <table class="table table-bordered table-hover">
    <tr><input type="hidden"name="id"value="{{ data.id }}">
      <td width="140">Name </td>
      <td width="117">
        <input type="text" name="textfield" id="textfield" value="{{ data.Name }}" class="form-control" pattern="[A-Z a-z]+"required/></td>
    </tr>
    <tr>
        <td>Gender</td>
        <td><select name="RadioGroup1" class="form-control">
            <option>--choose Gender --</option>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
        </select> </td>
    <tr>
      <td>DOB</td>
      <td><input type="date" name="textfield5" id="textfield5" value="{{ data.Dob }}" class="form-control" required/></td>
    </tr>
    <tr>
      <td>Place</td>
      <td>
        <input type="text" name="textfield4" id="textfield4"  value="{{ data.Place }}"class="form-control" required/></td>
    </tr>
    <tr>
      <td>District</td>
      <td>
        <input type="text" name="textfield2" id="textfield2"  value="{{ data.District }}" class="form-control" required/></td>
    </tr>
    <tr>
      <td>Pincode</td>
      <td>
        <input type="text" name="textfield3" id="textfield3"  value="{{ data.Pincode }}" class="form-control"  pattern="[0-9]{6}" max="6" required/></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><img src="{{ data.Photo }}" width="100px"height="100px" /><br><br>
        <input type="file" name="fileField" id="fileField" class="form-control" required></td>
    </tr>
    <tr>
      <td>Email</td>
      <td>
        <input type="email" name="textfield7" id="textfield7"  value="{{ data.Email }}" class="form-control" required/></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>
        <input type="text" name="textfield8" id="textfield8"  value="{{ data.Phone }}" class="form-control"pattern="[6789][0-9]{9}"max="10" required /></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" name="button" id="button" value="EDIT" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
