{% extends 'ADMIN/admin_home_index.html'%}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/myapp/Notification_send_post/">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <td>Notification :</td>
      <td>
      <textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control" required></textarea></td>
    </tr>
    <tr>
      <td colspan="2" align="right"><input type="submit" name="button" id="button" value="Send" class="btn btn-success" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
