{% extends 'ADMIN/admin_home_index.html'%}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table class="pull-left" >
    <tr>
      <td>From</td>
      <td>
        <input type="date" name="textfield" id="textfield" class="form-control" required/></td>
      <td>To</td>
      <td>
        <input type="date" name="textfield2" id="textfield2" class="form-control" required/></td>
      <td><input type="submit" name="button" id="button" value="Search" class="btn btn-success"/></td>
    </tr>
  </table><br><br>
  <table class="table  table-bordered ">
    <tr>
      <th >S.No</th>
      <th >Date</th>
      <th >Complaint</th>
      <th>Meter Reader Info</th>
      <th>User Info</td>
{#      <td width="98">Status</td>#}
      <th>Reply</th>
    </tr>
    <tr>
        {% for i in data %}
            <td>&nbsp;{{ forloop.counter }}</td>
            <td>{{ i.Date }}</td>
            <td>&nbsp;{{ i.Complaint }}</td>
            <td>{{ i.TO.Name }}</td>
            <td>{{ i.FROM.Name }}</td>
{#            <td>{{ i.Status }}</td>#}
      <td>
          {% if i.Status == 'pending' %}
          <a href="/myapp/complnt_reply_form/{{ i.id }}"class="btn btn-success">Reply</a>
      {% else %}
      {{ i.Reply }}
      {% endif %}
      </td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}