{% extends 'User/user_home_index.html'%}
{% block body %}

<body>
<form action="/myapp/user_upload_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
  <table align="center" style="width:50%" class="table table-bordered table-hover">
    <tr>
      <td>Photo </td>
      <td>
      <input type="file" name="fileField" id="fileField" class="form-control" required/></td>
    </tr>
    <tr>
      <td align="center" colspan="2"><input class="btn btn-success" type="submit" name="button" id="button" value="Upload" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}