{% extends 'User/user_home_index.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/myapp/view_montly_bill_post/">
{% csrf_token %}
  <table align="center" style="width:50%" class="table table-borderless table-hover">
    <tr>
      <td>
      <input type="text" name="textfield" id="textfield" class="form-control" required/></td>
      <td><input class="btn btn-success" type="submit" name="button" id="button" value="Search" /></td>
    </tr>
  </table>
  <table align="center" style="width:50%" class="table table-bordered ">
    <tr>
      <th>S.No</td>
      <th>Month</td>
      <th>Year</td>
      <th>Usage</td>
      <th>Amount</td>
    </tr>
      {% for i in data %}
    <tr>
      <td width="50px">&nbsp;{{ forloop.counter }}</td>
      <td>{{ i.Month }}</td>
      <td>{{ i.Year }}</td>
      <td>{{ i.Usage }}</td>
      <td>{{ i.Amount }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
